html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

ul {
  list-style: none;
}
ol {
  padding-left: 1rem;
}

pre {
  margin: 0.9em 0 !important;
}

a {
  color: map-get($colorMap, violetbase);
  text-decoration: none;
}
a:hover {
  color: map-get($colorMap, violet);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

pre {
  border-radius: 5px;
}

hr {
  margin: 1rem 0;
}

img {
  width: 100%;
  object-fit: contain;
}
