header {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

.search {
  display: flex;
  width: 200px;
  height: 38px;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #654bc2;
  padding: 0 1rem;
  & input {
    font-size: 14px;
    outline: none;
    border: none;
    max-width: 142px;
    background: transparent;
    &:focus {
      color: #949494;
    }
  }
}

//rrss navabar
.iconrrss {
  padding: 0.8rem;
  background-color: transparent;
  cursor: pointer;
}

.iconrrss:hover {
  box-shadow: 0 0 5px 0 map-get($colorMap, inter) inset,
    0 0 5px 2px map-get($colorMap, inter);
}

.burguer {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 39px;
  width: 50px;
  padding: 0 11px;
  @include media(sm) {
    display: block;
  }
}

.burguer .line {
  display: block;
  height: 4px;
  margin: 6px 0;
  background-color: #4f32ba;
  transition: transform 0.4s, background-color 0.3s;
  border-radius: 5px;
}

.buguer .line:last-child {
  margin-bottom: 0;
}
/* active burguer */
.burguer.activetwo .line {
  background-color: map-get($colorMap, violet);
  margin: 0 !important;
}

.burguer.activetwo .line:first-child {
  transform: rotate(46deg) translateY(50%) translateX(5%);
}

.burguer.activetwo .line:nth-child(2) {
  transform: rotate(-45deg) translateY(-50%);
}

.burguer.activetwo .line:last-child {
  display: none;
}

/*nav menu mobile*/
.nav-mb {
  position: absolute;
  z-index: 1;
  width: 250px;
  background-color: #3c47e9f5;
  height: calc(100% - 94px);
  left: -100%;
  transition: 850ms;
  box-shadow: 3px 0 4px -1px #888;
}

.show {
  @include media(sm) {
    left: 0;
    transition: 350ms;
  }
}

.show:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 50px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #3c47e9f5;
}

.social {
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
}

/* Dark Mode */

.darkmode {
  margin: 0.6rem 1rem 0 0;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #5f616d;
  height: 30px;
  width: 60px;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .switch::before {
  transform: translateX(30px);
}
.switch {
  position: relative;
  right: 32px;
  height: 30px;
  width: 60px;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  user-select: none;
}
.switch::before {
  content: "";
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transform: translateX(0);
  transition: 0.3s;
  will-change: transform;
}

.sun {
  position: relative;
  right: -18px;
}

.moon:before {
  content: "\1F31C";
}

.sun:before {
  content: "\1F31E";
}
